// font
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$font: "Overpass", sans-serif;

/** variable of colors **/
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);

/** typograhpy **/

body {
  font-family: $font;
  font-size: 15px;
}

h1 {
  font-size: 1.5rem;
  color: $White;
}

p {
  color: $LightGrey;
  line-height: 1.5;
}

/** layout **/

.container-main {
  background-color: $VeryDarkBlue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 315px;
    background-color: $DarkBlue;
    text-align: start;
    padding: 2em;
    height: 320px;
    border-radius: 30px;

    img[alt="star-logo"] {
      height: auto;
      border-radius: 999px;
      background-color: transparentize($LightGrey, 0.9);
      padding: 0.8em;
    }

    button {
      width: 100%;
      background-color: $Orange;
      padding: 0.8em;
      border: 0;
      font-family: $font;
      font-weight: normal;
      text-transform: uppercase;
      color: $White;
      font-size: 0.95rem;
      letter-spacing: 0.1em;
      border-radius: 99px;
      cursor: pointer;
      transition: 0.3s ease-out;

      &:hover {
        background-color: $White;
        color: $Orange;
      }
    }

    input[type="radio"] {
      display: none;
      transition: 0.3s;
    }

    label {
      display: inline-block;
      color: $MediumGrey;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 0.5em;
      width: 8%;
      margin-right: 1.3em;
      text-align: center;
      background-color: transparentize($LightGrey, 0.9);
      border-radius: 999px;
      margin-top: 0.8em;
      margin-bottom: 1.8em;
      cursor: pointer;
      transition: 0.3s;
      &[for="five"] {
        margin-right: 0;
      }

      &:hover {
        background-color: $MediumGrey;
        color: $White;
      }

      &.checked {
        background-color: $Orange;
        color: $White;

        &:hover {
          background-color: $Orange;
          color: $White;
        }
      }
    }

    // thankyou page

    &.thankyou-modal {
      text-align: center;

      h1 {
        margin-bottom: 0;
      }

      img[alt="device-logo"] {
        height: auto;
        padding: 0.8em;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .result {
        background-color: transparentize($MediumGrey, 0.9);
        width: 50%;
        margin: 1.2em auto;
        margin-bottom: 2em;
        padding: 0.3em 1em;
        vertical-align: middle;
        border-radius: 999px;
        color: $Orange;
      }
    }
  }
}

// variables for media queries

$phone: 480px;
$tablet: 800px;

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-main {
    padding: 1em;
    .box {
      width: 300px;
      text-align: start;
      padding: 2em;
      border-radius: 30px;

      p {
        font-size: 0.9rem;
      }

      label {
        font-size: 1.05rem;
        margin-right: 6%;
      }

      &.thankyou-modal {
        text-align: center;

        img[alt="device-logo"] {
          height: auto;
          padding: 0.8em;
          max-width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .result {
          background-color: transparentize($MediumGrey, 0.9);
          width: 10.5em;
          margin: 1.2em auto;
          padding: 0.3em 1em;
          vertical-align: middle;
          border-radius: 999px;
          color: $Orange;
          font-size: 0.9rem;
        }
      }
    }
  }
}
